.technologies__languages {
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
}
@media (min-width: 320px) and (max-width: 899px) {
    .technologies__languages {
        padding-top: 1rem;
    }
}

.technologies__languages-list, .technologies__use-list, .technologies__experience-list{
    display: flex;
    padding-top: 0.8rem;
    gap: 1rem;

}

.technologies__languages-list li, .technologies__use-list li, .technologies__experience-list li{
    display: flex;
    align-items: center;
    border: 0.1rem solid var(--mainGrey);
    border-radius: 1.2rem;
    padding: 0.8rem 1.2rem;
    width: 16.4rem;
    gap: 1rem;
}