@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
  font-size: 10px;
  --primaryBackgroundColor: #707394;
  --primaryColor: #476a2e;
  --primaryGrey: #6B6B6B;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainBlack: #1B1B1B;
  --mainGrey: #EBEBEB;
  --mainBlue: #373AF5;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}


.container__wrapper{
  width: 144rem;
  margin: 0 auto;
  background-color: var(--primaryBackgroundColor);
}

.content__wrapper{
  width: 118rem;
  margin: 0 auto;
  background: var(--mainWhite);
}


h1{
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color:var(--mainBlack)
}

h2{
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: var(--mainBlue);
}

h3{
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

h4{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h5{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.middle-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.btn-flat{
  background: white;
  border: 1px solid var(--mainBlue);
  padding: 0.7rem 2.1rem;
  border-radius: 0.8rem;
  color:var(--mainBlue);
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.btn-book{
  background: var(--mainBlue);
  color: white;
  padding: 0.8rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
}

.min-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.quiz-font{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


.btn-see{
  padding: 0.7rem 4.5rem;
}
