

.vetted_content{
    padding: 2.8rem 0 0 0;
    display: flex;
}
.vetted__title img{
    width: 2.2rem;
    height: 2.2rem;
}

.vetted__title{
    display: flex;
    gap: 1rem;
    padding: 2.8rem 12rem 0 0;
}

.vetted__desc {
    max-width: 86rem;
    width: 100%;
}

.vetted__text{
    padding:2.6rem 0 0 0;
}

.vetted__question img{
    width: 2.2rem;
    height: 2.2rem;
}

.vetted__question:nth-child(2){
    color: var(--primaryGrey);
}

.vetted__question{
    display: flex;
    gap: 1rem;
    padding-top: 1.1rem;
}
