

.vetted_content{
    padding: 2.8rem 0 0 0;
    display: flex;
}
.vetted__title img{
    width: 2.2rem;
    height: 2.2rem;
}

.vetted__title{
    display: flex;
    gap: 1rem;
    padding: 2.8rem 12rem 0 0;
    white-space: nowrap;
}



.vetted__desc {
    max-width: 86rem;
    width: 100%;
}

.vetted__text{
    padding:2.6rem 0 0 0;
}

.vetted__question img{
    width: 2.2rem;
    height: 2.2rem;
}

.vetted__question:nth-child(2){
    color: var(--primaryGrey);
}

.vetted__question{
    display: flex;
    gap: 1rem;
    padding-top: 1.1rem;
}



.vetted__title{
        padding: 0 8rem 0 0;
}

.vetted__text {
        padding: 0 0 0 0.5rem;
}

@media (min-width: 320px) and (max-width: 899px) {
    .vetted_content{
        flex-direction: column;
    }
    .vetted__text{
        padding: 1.3rem 0 0 0;
    }

    .vetted__sub-skill-value h4{
        font-size: 12px;
        line-height: 16px;
    }
    .vetted__sub-skill-value{
        padding-right: 1.5rem;
        gap: 0.2rem;
    }

}
