.technologies__title {
    padding: 2.8rem 6.6rem 0 0;
    display: flex;
    gap: 1rem;
    white-space: nowrap;

}


.technologies__content {
    display: flex;
}


.technologies__content img {
    width: 2.6rem;
    height: 2.6rem;
}

.technologies__desc {
    display: flex;
    padding: 2.8rem 0 2.8rem 0;
    flex-direction: column;
    width: 100%;
    border-bottom: 0.1rem solid #EBEBEB;

}

.technologies__subtitle {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

@media (min-width: 900px) and (max-width: 1439px) {
    .technologies__title {
        padding: 2.8rem 3rem 0 0;
    }
    .technologies__desc{
        padding: 2.8rem 0 1rem 0;
    }
}

